@forward "components";
@forward "global";
@use "utils" as u;

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--color-background);
  font-family: var(--main-font);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 8%, 0.5);
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.recipe-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: min(u.rem(1280), 100% - u.rem(40));
  margin-inline: auto;
  margin-block: u.rem(40);
  gap: u.rem(30);
}
