@use "../utils" as u;

:root {
  // Fonts
  --main-font: "Jost", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-small: u.rem(16);
  --fs-medium: u.rem(20);

  // Color
  --color-black: #151515;
  --color-black-dim: #2f2e2d;
  --color-gray: #d0d0d0;
  --color-accent: #fed148;
  --color-white: #ffffff;
  --color-background: #f2f2f2;
}
