@use "../utils" as u;

:root {
  // Fonts
  --main-font: "Jost", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-small: u.rem(16);
  --fs-medium: u.rem(20);

  // Color
  --color-black: hsl(0, 0%, 8%);
  --color-accent: hsl(45, 99%, 64%);
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(0, 0%, 95%);
}
