@forward "../global";
@use "../utils" as u;

.recipe-modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.recipe-modal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: u.rem(20);
  position: fixed;
  z-index: 5;
  overflow: auto;
  padding-block: u.rem(40);
  height: 100%;
  transform: scale(0);
  transition: transform 250ms ease-in-out;

  &.show {
    transform: scale(1);
  }

  &__information-container {
    display: flex;
    flex-direction: column;
    width: u.fluid(320px, 1280px, 280px, 450px);
    background-color: var(--color-white);
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  &__close-btn {
    background-color: var(--color-accent);
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    width: u.rem(24);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    top: u.rem(10);
    left: u.rem(10);
    z-index: 6;
    transition-property: transform, color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: var(--color-black);
      color: var(--color-accent);
    }
  }

  &__body {
    padding: u.rem(20);
    display: flex;
    flex-direction: column;
    gap: u.rem(10);
  }

  &__name {
    font-size: u.rem(30);
    font-weight: var(--fw-bold);
  }

  &__ingridient {
    font-size: u.rem(16);
    font-weight: var((--fw-bold));
  }

  &__ingridient-list {
    & > li {
      margin-inline-start: u.rem(20);
      margin-block-end: u.rem(10);
      line-height: 1.5;
      font-size: u.rem(16);
    }
  }

  &__instruction-container {
    width: u.fluid(320px, 1280px, 280px, 430px);
  }

  &__instruction-list {
    list-style: none;
    counter-reset: instruction;

    & > li {
      line-height: 1.5;
      counter-increment: instruction;
      background-color: var(--color-white);
      padding: u.rem(10);
      margin-block-end: u.rem(20);
      padding-inline-start: u.rem(40);
      border-radius: 5px;
      position: relative;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &::before {
        content: counter(instruction);
        position: absolute;
        left: u.rem(7);
        top: u.rem(10);
        background-color: var(--color-accent);
        height: 1.4rem;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        place-items: center;
      }
    }
  }
}
