@forward "../global";
@use "../utils" as u;

.recipe-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  width: u.rem(250);
  box-shadow: rgba(11, 11, 11, 0.1) 0px 10px 40px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: translateY(-5%);

    & .recipe-card__body {
      background-color: var(--color-accent);
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    place-items: center;
    height: u.rem(80);
    padding: u.rem(10);
    background-color: var(--color-white);
    transition: background-color 250ms ease-in-out;
  }

  &__img {
    height: u.rem(250);
    object-fit: cover;
  }

  &__name {
    text-align: center;
    font-size: u.rem(16);
    font-weight: var(--fw-bold);
  }
}

@media (prefers-color-scheme: dark) {
  .recipe-card {
    &__body {
      background-color: var(--color-black-dim);
    }
  }
}
