@forward "../global";
@use "../utils" as u;

.search-bar {
  padding-block-start: u.rem(100);
  display: flex;
  justify-content: center;
  gap: u.rem(5);

  &__input {
    height: u.rem(40);
    padding: u.rem(10);
    width: u.fluid(320px, 1280px, 200px, 600px);
    border: none;
    border-radius: 5px;
    font-size: u.rem(16);
    font-family: inherit;
    position: relative;
  }

  &__submit-btn {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--color-accent);
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    height: u.rem(40);
    aspect-ratio: 1 / 1;
    padding-inline: u.rem(10);
    cursor: pointer;
  }
}

.not-found {
  font-size: u.rem(30);
  color: var(--color-accent);
  text-align: center;
  line-height: 1.5;
}
